<!doctype html>
<html>
  <head>
    <title>Websocket Client</title>
    <script type="text/javascript" src="http://localhost:9292/faye/client.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://cloud.github.com/downloads/emberjs/ember.js/ember-0.9.8.1.min.js"></script>
    <script type="text/javascript" src="/ansiparse.js"></script>
    <script type="text/javascript" src="/app.js"></script>
    <link href="http://current.bootstrapcdn.com/bootstrap-v204/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
  </head>
  <body><%= yield %></body>
</html>
